<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css"> 
    <!-- Able to access these static files becoz we serve the read-only access using app.js code i.e express.static(path_to_the_required_folder). Hence we dont need to mention the path till that folder in the above <link> tag, we only mention css/main.css -->